@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  body {
    background-color: theme('colors.zinc.900');
  }
}

/* https://github.com/atomiks/rehype-pretty-code/blob/master/website/pages/index.mdx */
.prose pre > code {
  display: grid;
  counter-reset: line;
}

.prose pre > code > .line::before {
  counter-increment: line;
  content: counter(line);

  display: inline-block;
  width: 1rem;
  margin-right: 2rem;
  text-align: right;
  color: slategray;
}
